.logo-container
  .logo-wrapper
    = image_tag('logos/html5.png', alt: 'html5-logo', class: 'skill-logo')
  .skill-description
    html5

.logo-container
  .logo-wrapper
    = image_tag('logos/jquery-logo.gif', alt: 'jquery-logo', class: 'skill-logo')
  .skill-description
    Jquery

.logo-container
  .logo-wrapper
    = image_tag('logos/ajax.png', alt: 'ajax-logo', class: 'skill-logo')
  .skill-description
    Ajax

.logo-container
  .logo-wrapper
    = image_tag('logos/bootstrap-logo.png', alt: 'bootstrap-logo', class: 'skill-logo')
  .skill-description
    Bootsrap
.logo-container
  .logo-wrapper
    = image_tag('logos/rails-logo.png', alt: 'rails-logo', class: 'skill-logo')
  .skill-description
    Ruby on Rails

.logo-container
  .logo-wrapper
    = image_tag('logos/php.png', alt: 'php-logo', class: 'skill-logo')
  .skill-description
    Php Programming

.logo-container
  .logo-wrapper
    = image_tag('logos/rubylang.png', alt: 'ruby-logo', class: 'skill-logo')
  .skill-description
    Ruby Programming

.logo-container
  .logo-wrapper
    = image_tag('logos/Cplusplus.png', alt: 'cplusplus-logo', class: 'skill-logo')
  .skill-description
    C++ Programming

.logo-container
  .logo-wrapper
    = image_tag('logos/postgresql.png', alt: 'postgresql-logo', class: 'skill-logo')
  .skill-description
    Postgresql Database
