- page_title('Welcome')
.my_motto
  %p 
    %q
      失敗は成功のもと.
  %p 
    %span -
    Failure is a stepping-stone to success.
.section.group
  .col.span_1_of_2#photo-container
    .picture-wrapper
      = image_tag('picme.png', id: 'my_photo')
  .col.span_2_of_2
    %p.message_to_viewers
      My name is Woodson Delhia, I am currently an employee at Air Canada, an aspiring entrepeneur and also a third year student in Software Development. I have a great interest in developing software. I mostly develop in Ruby but I am also able to use other language if required.
    .contact-wrapper
      = link_to 'More About Me !', about_path, class: 'more-about-me'
      %p.text-center
        OR
      = link_to 'Get In Touch !', contact_path, class: 'get-in-touch'
    
.section.group#skills
  = render 'technical_skills'
  
.section.group#recent_blogs
  = render 'recent_blogs'